<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <title>Admin Dashboard</title>
</head>

<body>


<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in RoutingModules) -->
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>

<!-- -->
<!-- header -->
<!-- start navbar -->
<div
  class="md:fixed md:w-full md:top-0 md:z-20 flex flex-row flex-wrap items-center bg-white p-6 border-b border-gray-300">

  <!-- logo -->
  <div class="flex-none w-56 flex flex-row items-center">
    <svg class="h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z" />
    </svg>

    <strong class="capitalize ml-1 flex-1">Plant Shop</strong>
  </div>
  <!-- end logo -->

  <!-- navbar content toggle -->
  <button class=" md:block md:fixed right-0 mr-6">
    Log out
  </button>
  <!-- end navbar content toggle -->



</div>
<!-- end navbar -->
<!-- end header -->
<!-- -->



</body>

</html>
