<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./img/fav.png" type="image/x-icon">
  <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.12.1/css/pro.min.css">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <title>Welcome</title>
</head>

<body>

<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in RoutingModules) -->
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>




</body>

</html>
