<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="./img/fav.png" type="image/x-icon">
  <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.12.1/css/pro.min.css">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <title>Welcome To Cleopatra</title>
</head>

<body class="bg-gray-100">

<!-- start navbar -->
<div
  class="md:fixed md:w-full md:top-0 md:z-20 flex flex-row flex-wrap items-center bg-white p-6 border-b border-gray-300">

  <!-- logo -->
  <div class="flex-none w-56 flex flex-row items-center">
    <svg class="h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z" />
    </svg>

    <strong class="capitalize ml-1 flex-1">Plant Shop</strong>
  </div>
  <!-- end logo -->

  <!-- navbar content toggle -->
  <button class=" md:block md:fixed right-0 mr-6">
    Log out
  </button>
  <!-- end navbar content toggle -->



</div>
<!-- end navbar -->

<!-- start sidebar -->
<div id="sideBar"
     class="relative flex flex-col flex-wrap bg-white border-r border-gray-300 p-6 flex-none w-64 md:fixed md:top-0 md:h-screen md:shadow-xl ">

  <!-- sidebar content -->
  <div class="flex flex-col">

    <!-- sidebar toggle -->
    <div class="text-right hidden h-16 md:block mb-4">

    </div>
    <!-- end sidebar toggle -->

    <p class="uppercase text-xs text-gray-600 mb-4 tracking-wider">Products</p>

    <!-- link -->
    <a href="./index.html"
       class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
      <i class="fad fa-chart-pie text-xs mr-2"></i>
      Add Product
    </a>
    <!-- end link -->

    <!-- link -->
    <a href="./index-1.html"
       class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
      <i class="fad fa-shopping-cart text-xs mr-2"></i>
      List Products
    </a>
    <!-- end link -->

    <p class="uppercase text-xs text-gray-600 mb-4 tracking-wider">Categories</p>

    <!-- link -->
    <a href="./index.html"
       class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
      <i class="fad fa-chart-pie text-xs mr-2"></i>
      Add Category
    </a>
    <!-- end link -->

    <!-- link -->
    <a href="./index-1.html"
       class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
      <i class="fad fa-shopping-cart text-xs mr-2"></i>
      List Categories
    </a>
    <!-- end link -->




  </div>
  <!-- end sidebar content -->

</div>
<!-- end sidbar -->


<!-- strat wrapper -->
<div class="relative w-full flex flex-row flex-wrap">

  <!-- strat search bar -->
  <div class="absolute right-0 flex top-36 mr-6 my-2">
    <input type="search" class="bg-purple-white shadow rounded border-0 p-3" placeholder="Search by name...">
    <div class="absolute pin-r pin-t mt-3 mr-4 text-purple-lighter">
      <svg version="1.1" class="h-4 text-dark" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 52.966 52.966" style="enable-background:new 0 0 52.966 52.966;" xml:space="preserve">
    	<path d="M51.704,51.273L36.845,35.82c3.79-3.801,6.138-9.041,6.138-14.82c0-11.58-9.42-21-21-21s-21,9.42-21,21s9.42,21,21,21
        c5.083,0,9.748-1.817,13.384-4.832l14.895,15.491c0.196,0.205,0.458,0.307,0.721,0.307c0.25,0,0.499-0.093,0.693-0.279
        C52.074,52.304,52.086,51.671,51.704,51.273z M21.983,40c-10.477,0-19-8.523-19-19s8.523-19,19-19s19,8.523,19,19
        S32.459,40,21.983,40z"/>

	</svg>

    </div>
  </div>

  <!-- strat content -->
  <div class="ml-64 p-6 relative top-16 ">

    <!-- start cards -->
    <ul class=" grid grid-cols-5 gap-4">
      <li
        *ngFor="let product of products; let i = index"
        [class.active]="i == currentIndex"
      >
        <div class="max-w-xs rounded overflow-hidden shadow-lg my-2">
          <img class="w-full" src="https://tailwindcss.com/img/card-top.jpg" alt="Sunset in the mountains">
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">
              {{ product.nameProduct }}
            </div>
            <p class="text-grey-darker text-base">
              {{ product.descriptionProduct }}
            </p>
          </div>
          <div class="px-6 py-4 space-x-2">
            <a href="#" class="bg-green-200 text-green-600 py-1 px-3 rounded-full text-xs">Update</a>
            <a href="#" class="bg-pink-200  text-pink-600 py-1 px-3 rounded-full text-xs">Delete</a>
          </div>

        </div>
      </li>
    </ul>
    <!-- end cards -->


  </div>
  <!-- end  content -->

</div>




<!-- script -->
<!-- <script src="js/scripts.js"></script> -->
<!-- end script -->

</body>

</html>
